/.vscode
/.env
/code_book.html
/web development
/01-band_name_generator/__pycache__
/02-tip-calculator/__pycache__
/03-treasure_island/__pycache__
/04-rock_paper_scissors/__pycache__
/05-password_generator/__pycache__
/07-hangman/__pycache__
/08-caesar_cipher/__pycache__
/09-silent_auction/__pycache__
/10-calculator/__pycache__
/11-black_jack/__pycache__
/12-number_guessing/__pycache__
/13-etch_a_sketch/__pycache__
/14-higher_lower/__pycache__
/15-coffee_machine/__pycache__
/16-coffee_machine_oop/__pycache__
/17-quiz_game/__pycache__
/18-hirst_painting/__pycache__
/19-turtle_race/__pycache__
/20-snake_game/__pycache__
/21-snake_game_updated/__pycache__
/22-pong/__pycache__
/23-turtle_crossing/__pycache__
/24-mail_merge/__pycache__
/25-us_states_game/__pycache__
/26-nato_alphabet/__pycache__
/27-miles_km_converter/__pycache__
/28-pomodoro/__pycache__
/29-password_manager/__pycache__
/30-password_manager_search/__pycache__
/31-flash_card_app/__pycache__
/32-automated_birthday_wisher/__pycache__
/33-iss_overhead_notifier/__pycache__
/34-quizzler_app/__pycache__
/35-rain_alert/__pycache__
/36-trading_news_alert/__pycache__
/37-habit_tracker/__pycache__
/38-exercise_tracking/__pycache__
/39-cheap_flight_finder/__pycache__
/40-flight_club/__pycache__